@import url('https://fonts.googleapis.com/css?family=Nosifer&display=swap');

body button, body input, body label {
    font-family: Nosifer, sans-serif !important;
}

html {
    filter: sepia(50%);
}

#popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background: linear-gradient(160deg, red, #660000);
    border: 3px solid darkorange;
    z-index: 1000;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0 0 1em orange;
    width: 75%;
}

#popup input {
    font-size: min(20px, 3dvw, 3dvh);
    margin: 1ex 0;
    background: linear-gradient(orange, #bf3922);
    border: none;
    border-radius: 5px;
    padding: 1em;
}

#popup input:focus-visible {
    outline: #660000 solid 2px;
}

#popup label {
    font-size: min(20px, 3dvw, 3dvh);
    margin: 1ex 0;
    color: darkorange;
    filter: drop-shadow(0 0 .5em #660000);
    padding: .5em;
}

#popup .confirmButton {
    font-size: min(20px, 3dvw, 3dvh);
    display: flex;
    margin: 1ex 0;
    background: linear-gradient(orange, #BF3922);
    border: none;
    border-radius: 5px;
    padding: 1em;
    box-shadow: orange 0 4px 1em;
}

#popup .confirmButton:active {
    background-color: darkred;
    box-shadow: orange 0 1px 1em;
    transform: translateY(3px);
}

#showPopupButton {
    position: fixed;
    bottom: 1dvh;
    right: 1dvw;
    padding: 1em;
    background-color: orange;
    color: #660000;
    border: 2px solid #660000;
    border-radius: 10px;
    cursor: pointer;
    z-index: 10;
    font-size: 20px;
    box-shadow: orange 0 0 1em;

    &:active {
        background-color: #660000;
        color: orange;
        transform: translate(4px, 6px);
        border: 2px solid orange;
        box-shadow: #660000 0 0 1em;
    }
}

#popup .closeButton {
    padding: 0;
    font-family: Arial, sans-serif !important;
    position: absolute;
    top: -1em;
    right: -1em;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    border: 2px solid darkorange;
    background: darkred;
    color: white;
    font-size: 1em;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin: 0;

    &:active {
        background: orange;
        transform: translate(-2px, 3px);
        border: 2px solid darkred;
        color: #660000;
    }
}

#decoration {
    width: 100%;
    height: auto;
}

#decoration img {
    position: absolute;
    width: 10%;
    max-width: 150px;
    height: auto;
    max-height: 150px;
    filter: drop-shadow(0 0 .5em #660000);
}

#trackDisplay {
    position: fixed;
    top: 2dvh;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7); /* Dark grey with transparency */
    color: orange;
    padding: 10px;
    font-size: min(16px, 2dvw, 2dvh);
    text-align: center;
    z-index: 500;
}