@import url('https://fonts.googleapis.com/css?family=Nosifer&display=swap');

/* Define CSS variables for repeated values */
:root {
    --main-font: 'Nosifer', sans-serif;
    --main-color: orange;
    --secondary-color: #bf3922;
    --light-color: red;
    --middle-color: darkred;
    --dark-color: #660000;
    --border-color: darkorange;
    --shadow-color: orange;
    --font-size: min(20px, 3vw, 3vh);
}

body {
    font-family: var(--main-font);
}

button, input {
    font-family: inherit;
}

html {
    filter: sepia(50%);
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2em;
    background: linear-gradient(160deg, var(--light-color), var(--dark-color));
    border: 3px solid var(--border-color);
    z-index: 1000;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0 0 1em var(--shadow-color);
    width: 75%;
}

.popup input {
    font-size: var(--font-size);
    margin: 1ex 0;
    background: linear-gradient(var(--main-color), var(--secondary-color));
    border: none;
    border-radius: 5px;
    padding: 1em;
    width: 75%;
    text-align: center;
}

::placeholder,
::-webkit-input-placeholder,
:-moz-placeholder,
::-ms-input-placeholder {
    color: #444;
    opacity: 1;
}

.popup input:focus-visible {
    outline: var(--dark-color) solid 2px;
}

.popup label, .popup h1 {
    font-size: var(--font-size);
    margin: 1ex 0;
    color: var(--border-color);
    filter: drop-shadow(0 0 .5em var(--shadow-color));
    padding: .5em;
    text-shadow: -1px -1px 0 var(--dark-color), 1px -1px 0 var(--dark-color), -1px 1px 0 var(--dark-color), 1px 1px 0 var(--dark-color);
}

.popup .confirmButton {
    font-size: var(--font-size);
    display: flex;
    margin: 1ex 0;
    background: linear-gradient(var(--main-color), var(--secondary-color));
    border: none;
    border-radius: 5px;
    padding: 1em;
    box-shadow: var(--shadow-color) 0 4px 1em;
}

.popup .confirmButton:active {
    background-color: var(--middle-color);
    box-shadow: var(--shadow-color) 0 1px 1em;
    transform: translateY(3px);
}

#showPopupButton {
    position: fixed;
    bottom: 1dvh;
    right: 1dvw;
    padding: 1em;
    background-color: var(--main-color);
    color: var(--dark-color);
    border: 2px solid var(--dark-color);
    border-radius: 10px;
    cursor: pointer;
    z-index: 10;
    font-size: 20px;
    box-shadow: var(--shadow-color) 0 0 1em;
}

#showPopupButton:active {
    background-color: var(--dark-color);
    color: var(--main-color);
    transform: translate(4px, 6px);
    border: 2px solid var(--main-color);
    box-shadow: var(--dark-color) 0 0 1em;
}

.popup .closeButton {
    padding: 0;
    font-family: Arial, sans-serif !important;
    position: absolute;
    top: -1em;
    right: -1em;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    border: 2px solid var(--border-color);
    background: var(--middle-color);
    color: white;
    font-size: 1em;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin: 0;

}

.popup .closeButton:active {
    background: var(--main-color);
    transform: translate(-2px, 3px);
    border: 2px solid var(--middle-color);
    color: var(--dark-color);
}

#decoration {
    width: 100%;
    height: auto;
}

#decoration img {
    position: absolute;
    width: 10%;
    max-width: 150px;
    height: auto;
    max-height: 150px;
    filter: drop-shadow(0 0 .5em var(--dark-color));
}

#trackDisplay {
    position: fixed;
    top: 2dvh;
    left: 50%;
    min-width: 75%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7); /* Dark grey with transparency */
    color: var(--main-color);
    padding: 10px;
    font-size: 18px;
    text-align: center;
    z-index: 500;
}