@import url('https://fonts.googleapis.com/css?family=Nosifer&display=swap');

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Nosifer, sans-serif !important;
    font-size: 24px;
    background: url("images/halloween_pumpkin_lantern_moon_horror.png") no-repeat center center fixed;
    background-size: cover;
}

.header-images-wrapper {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

em {
    background: linear-gradient(orange, darkorange);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    font-style: normal;
}

h1 {
    background: linear-gradient(red, orangered);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    width: fit-content;
    font-size: 3em;
    text-align: center;
    text-wrap: balance;
    margin: 3rem;
    filter: drop-shadow(0 0 .15em white);
}

button {
    padding: 1rem 2rem;
    font-size: 1.5em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 2rem;
    background: linear-gradient(red, darkred);
    color: white;
    transition: background-color 0.3s ease;
    font-family: Nosifer, sans-serif !important;
}

button:hover {
    filter: hue-rotate(190deg) invert(1) sepia(.4) brightness(.6) saturate(2);
}
